*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
}

.firstName,
.Middlename,
.Lastname,
.phone,
.PhoneNo,
.Current-Adress,
.email,
.Password,
.Re-Type-Password,
.button {
    display: flex;
    flex-direction: column;
}

.form {
    border-top: 2px solid white;
    width: 100%;
}

.form div:not(.divRadio , .divRadio div) {
    padding: 1rem 0;
}

.h1 {
    padding-bottom: 1rem;
}

.optionCourse select {
    width: 15%;
}

input,
textarea {
    border: none;
    padding: .8rem;
    outline: none;
}

label {
    padding-bottom: .4rem;
}

.password-label,
.Re-Type-Password,
.email-label {
    font-weight: 600;
}

.button button {
    border: none;
    padding: 1rem;
    font-family: sans-serif;
    color: white;
    background-color: #56B35F;
    cursor: pointer;
}
.divRadio{
    padding: .2rem;
    display: flex;
    gap: .4rem;
}
textarea{
    max-width: 100%;
    min-height:3rem ;
}
.notice{
    color: red;
    padding-top: .5rem;
}
.display-notice{
    display: none;
}