
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-h1 {
  font-size: 2rem;
  padding: 0.5rem;
}
.video {
  width: 45rem;
}
.header-filter {
  padding: 1rem;
  width: 45rem;
  display: flex;
  gap: 0.6rem;
}

/* scroll bar */
.header-filter {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  float:left;
  cursor: grab;
  border-bottom: 0.1rem solid #c3c3c3;
}
.header-filter::-webkit-scrollbar {
  display: none;

}
/* ----- */
.header-filter div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}

/* blue btn */
.filterSellected {
  display: flex;
}
.filterSellected button {
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: 0.4rem;
  margin-top: 0.2rem;
  border: none;
  font-size: 0.6rem;
  background-color: #2e83c3;
  color: #ffffff;
}
.filterSellected button img {
  width: 0.6rem;
}

/* option */
.filter-option {
  display: flex;
  width: 9rem;
}
.filter-option select {
  width: 9rem;
  padding: 0.3rem;
  font-size: 0.6rem;
  margin-top: 0.2rem;
  border: 0.01rem solid #d5d4d4;
}
